.contact-page {

  img {
    width: 30px;
  }

  .contact-page__row {
    overflow: auto;
    text-align: center;

    a {
      margin-top: 15px;
    }
  }

  .contact-page__row--social {
    img {
      margin: 0 20px;
    }
  }
}

// ICON'S TRANSITION
.img-pop {

  transition: .2s ease-in-out;

  // INCREASES THE SIZE OF THE ICONS ON HOVER
  &:hover {

    @include box-shadow(0 0 5px $gray);
    transform: scale(1.1);
  }

}
